:root {
    /* Colors */
    --color-primary: #05668d;
    --color-secondary: #449064;
    --color-tertiary: #f0f3bd;
    --color-gray: #ebebeb;

    /* Fonts */
    --ff-oswald: 'Oswald', sans-serif;
    --ff-source-sans-pro: 'Source Sans Pro', sans-serif;
}
