/* File Imports */
@import './utilities/normalize.css';
@import './utilities/variables.css';
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+Pro:wght@200;400&display=swap);

/* Global Styles */
* {
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* Mobile-First Styles */
.container {
    min-height: 100vh;
    display: grid;
    min-height: 100%;
    font-size: 62.5%;
    font-family: var(--ff-source-sans-pro);
    font-weight: 200;
    grid: auto 1fr auto / 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-primary);
}

.site_logo {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-family: var(--ff-oswald);
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
    color: var(--color-tertiary);
    text-decoration: none;
}

nav a {
    font-family: var(--ff-oswald);
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-tertiary);
}

nav a:last-of-type {
    margin-left: 1rem;
}

nav a:visited {
    color: var(--color-tertiary);
}

main {
    display: grid;
    grid: auto / 1fr;
    gap: 1rem;
    justify-items: center;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.home_intro,
.post_intro {
    width: 90%;
    margin-bottom: 2rem;
}

.home_intro h1,
.post_intro h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-secondary);
    text-align: center;
}

.home_intro p {
    padding: 0 1rem;
    font-size: 1rem;
}

.post_intro time {
    display: block;
    font-size: 1rem;
    color: var(--color-primary);
    text-align: center;
    margin: -1.2rem 0 1rem 0;
    opacity: 0.5;
}

.post_intro blockquote {
    font-size: 1rem;
    font-style: italic;
    text-align: justify;
    opacity: 0.5;
}

.blog_entries {
    display: grid;
    grid: auto / 1fr;
    gap: 2rem;
    justify-items: center;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    padding: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0.3rem 0.3rem 0.4rem 0.3rem rgba(0, 0, 0, 0.2);
    /* height: max-content; */
}

.card figure {
    text-align: center;
}

.card img {
    width: 90%;
    margin-bottom: 1rem;
}

.card figcaption {
    font-family: var(--ff-oswald);
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.7rem;
    color: var(--color-tertiary);
}

.card button {
    font-size: 1.2rem;
    text-transform: uppercase;
    border: none;
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    width: 80%;
    margin: 0 auto;
    padding: 0.3rem 0;
    border-radius: 0.3rem;
}

.card button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.card a {
    text-decoration: none;
    color: var(--color-tertiary);
}

.card a:visited {
    color: var(--color-tertiary);
}

article {
    display: grid;
    grid: auto / 1fr;
    gap: 1rem;
    justify-items: center;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.post_entry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post_entry picture {
    text-align: center;
    margin-bottom: 1rem;
}

.post_entry img {
    width: 80%;
    margin-bottom: 2rem;
}

.post_entry h2 {
    font-family: var(--ff-oswald);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-secondary);
    text-align: center;
    margin: 1rem 0 1.5rem 0;
}

.post_entry p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.post_author {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background-color: var(--color-tertiary);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

.post_author picture {
    text-align: center;
}

.post_author img {
    width: 50%;
    object-fit: scale-down;
    border-radius: 100%;
    margin: 0.6rem 0;
}

.post_author h3 {
    font-family: var(--ff-oswald);
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-secondary);
    margin-bottom: 0.3rem;
    text-align: center;
}

.title_employer_info {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto 1rem auto;
    font-style: italic;
}

.author_bio {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1rem;
}

.author_bio p {
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 0.6rem;
}

.author_socials {
    display: flex;
    justify-content: center;
    width: 100%;
}

.author_socials a {
    width: max-content;
    margin-right: 1rem;
}

.author_socials a:last-of-type {
    margin-right: 0;
}

.author_socials a > img {
    width: 2rem;
}

footer {
    height: fit-content;
    font-size: 1rem;
    padding: 0.5rem 0;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-tertiary);
}

/* Tablet Styles */

@media (min-width: 768px) {
    .site_logo {
        font-size: 1.8rem;
    }

    nav a {
        font-size: 1.5rem;
    }

    .home_intro {
        margin-bottom: 1rem;
    }

    .home_intro h1,
    .post_intro h1 {
        font-size: 3rem;
    }

    .home_intro p {
        font-size: 1.5rem;
    }

    .blog_entries {
        gap: 3rem;
    }

    .card figcaption {
        font-size: 2rem;
    }

    .card button {
        font-size: 1.5rem;
    }

    .post_intro time {
        font-size: 1.2rem;
    }

    .post_intro blockquote {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .post_entry {
        margin-bottom: 1.5rem;
    }

    .post_entry h2 {
        font-size: 2rem;
    }

    .post_entry p {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .post_author {
        width: 60%;
        margin-bottom: 1rem;
    }

    .post_author h3 {
        font-size: 1.8rem;
    }

    .title_employer_info {
        font-size: 1.2rem;
    }

    .post_author p {
        font-size: 1.2rem;
    }

    .author_socials a > img {
        width: 3rem;
    }

    footer {
        font-size: 1.2rem;
    }
}

/* Desktop Styles */

@media (min-width: 1024px) {
    .site_logo {
        font-size: 2.2rem;
    }

    nav a {
        font-size: 1.8rem;
    }

    .home_intro {
        margin-bottom: 2rem;
    }

    .home_intro h1,
    .post_intro h1 {
        font-size: 3.5rem;
    }

    .home_intro p {
        font-size: 1.8rem;
        width: 75ch;
        margin: 0 auto;
    }

    .blog_entries {
        grid: 1fr 1fr / 1fr 1fr;
    }

    .card figcaption {
        font-size: 2.3rem;
    }

    .card button {
        font-size: 1.8rem;
    }

    .post_intro time {
        font-size: 1.5rem;
    }

    .post_intro blockquote {
        font-size: 1.5rem;
        width: 60ch;
        margin: 3rem auto 1.5rem auto;
    }

    .post_entry h2 {
        font-size: 2.3rem;
    }

    .post_entry p {
        font-size: 1.5rem;
        width: 75ch;
    }

    .post_author {
        width: 65%;
    }

    .post_author img {
        width: 75%;
        margin-bottom: 1.5rem;
    }

    .post_author h3 {
        font-size: 2.2rem;
    }

    .post_author p {
        font-size: 1.5rem;
        width: 60ch;
    }

    .author_socials a > img {
        width: 4rem;
    }

    footer {
        font-size: 1.5rem;
    }
}
